<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product {{sn}}</title>
</head>

<body>
    <h1>Catalog Page</h1>
    <p> Product S/N: {{sn}} </p>
</body>

</html>